body {
    background-color: rgb(140, 140, 255);
    
}
h1 {
    color: rgb(183, 221, 221);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}